*,
 *::before,
 *::after{
  box-sizing:border-box;
  padding: 0.5rem;
 } 


.container{
  display: flex;
  flex-direction: column; 
  align-content: space-around;  
  gap: 2rem;
  width: 80%;
  padding: 1rem;
   
}
 
.cards{
 display:flex;
 flex-direction: column;
 justify-content: space-around;
 gap:0.5rem;
}
.cardBody{
  display: flex;             
  align-items: center;
  width: 600px;
  padding: 0.5rem;   
  gap:0.5rem;
  color: rgb(17, 14, 20);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(12, 6, 70, 0.1);
  transition: all 0.3s ease;
  background-color: rgba(180, 190, 248, 0.473);
}
.cardBody > img{
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.info{
  list-style: none;
  text-align: justify;
  gap: 0.3rem;
  font-size: 25px;
}
.btn{
  height: auto;
  font-size:18px;
  width: auto;   
  border-radius:15px;
  border-width: 0,5px;
  border-style:ridge;
  font-weight: bold;
  background-color: rgb(53, 53, 167);
  color:rgb(255, 255, 255);
}
p{
  font-size: 25px;
}